* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #292929;
    background-size: cover;
}
.logo{
    width: 70px;
    background: black;
    border-radius: 15px;
}
.menu{
    position: fixed;
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 5px 20px;
    position: relative;
}
.menu ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
}
.menu ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: linear-gradient(#6322ff, #e42eff);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.menu ul li:hover::after{
    width: 100%;
}
.text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
}
.text h1{
    margin-bottom: 15px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black;
}
.footer a{
    text-decoration: none;
    color: #7c11ff;
}