@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.sum
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
section.contact{
    width: 100%;
}
body{
    background-attachment: fixed;
}

.contact2{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("../IMG/training.jpg");
    background-size: cover;
}
.contact2 .content{
    max-width: 800px;
    text-align: center;
}
.contact2 .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    
}
.contact2 .content p{
    font-weight: 300;
    color: #fff;
}

.content2 > h2 {
    margin-left: 10% !important;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #fff;
}
.contactForm{
    width: 30%;
    padding: 40px;
    background: #fff;
    margin-right: 10%;
    border-radius: 8px;
}
.contactForm:hover{
    box-shadow: 0 0 20px 0 #f44336;
    transition: 0.5s;
}
.contactForm h2{
    font-size: 30px;
    color: #333 !important;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #160606;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"], input[type="reset"]{
    width: 100px !important;
    background: #f44336;
    color: #fff;
    border: none;
    font-size: 18px;
}
@media(max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 90vw;
        margin-right: 0;
    }
}
